---
layout: default
---

<div class="home-hero-container">
  <h1 class="home-intro-copy">
    <span class="reveal-line home-intro-line"><span class="reveal-inner">Make pixels work hard.</span></span>
    <span class="reveal-line home-intro-line home-intro-line--secondary"><span class="reveal-inner" style="--delay: 1s; --dur: 2.2s">So people don't have to.</span></span>
  </h1>
  <div class="reveal-line current-work-reveal"><span class="reveal-inner" style="--delay: 3.2s">
    <div class="current-work-card">
      <p class="current-work-text"><span class="current-work-timespan">2024 – Current</span> Designing Agent Studio at <a href="https://workato.com">Workato</a></p>
    </div>
  </span></div>
</div>

<div class="timeline-wrapper">
  <a href="/bubbles" class="homepage-tile-link homepage-tile-link--featured">
    <div class="bubbles-block timeline-block--featured">
      {% include homepage-thumbnail.html class_name="bubbles-hover-img" name="bubbles-bw" fallback="bubbles-bw.png" width="1174" height="689" sizes="(min-width: 1200px) 720px, 60vw" eager=true %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2022 – 2024</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Bubbles</h3>
        <h5 class="timeline-block-subhead">Principal Product Designer</h5>
      </div>
    </div>
  </a>
  <a href="/mural" class="homepage-tile-link">
    <div class="mural-block">
      {% include homepage-thumbnail.html class_name="mural-hover-img" name="mural" fallback="mural.png" width="990" height="586" sizes="(min-width: 1200px) 590px, (min-width: 600px) calc(50vw - 2rem), calc(100vw - 2rem)" %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2019 – 2022</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Mural</h3>
        <h5 class="timeline-block-subhead">Sr. Product Designer</h5>
      </div>
    </div>
  </a>
  <a href="/olark" class="homepage-tile-link">
    <div class="olark-block">
      {% include homepage-thumbnail.html class_name="olark-hover-img" name="bw-test" fallback="bw-test.jpg" width="990" height="600" sizes="(min-width: 1200px) 590px, (min-width: 600px) calc(50vw - 2rem), calc(100vw - 2rem)" %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2014 – 2019</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Olark</h3>
        <h5 class="timeline-block-subhead">Sr. Product Designer</h5>
      </div>
    </div>
  </a>
  <a href="/freelance" class="homepage-tile-link">
    <div class="freelance-block">
      {% include homepage-thumbnail.html class_name="freelance-hover-img" name="hillary-bw" fallback="hillary-bw.jpg" width="990" height="600" sizes="(min-width: 1200px) 590px, (min-width: 600px) calc(50vw - 2rem), calc(100vw - 2rem)" %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2013 – 2014</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Freelance</h3>
        <h5 class="timeline-block-subhead">Product, Branding, Frontend</h5>
      </div>
    </div>
  </a>
  <a href="/enso" class="homepage-tile-link">
    <div class="enso-block">
      {% include homepage-thumbnail.html class_name="enso-hover-img" name="enso-bw" fallback="enso-bw.jpg" width="990" height="600" sizes="(min-width: 1200px) 590px, (min-width: 600px) calc(50vw - 2rem), calc(100vw - 2rem)" %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2012 – 2013</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Enso</h3>
        <h5 class="timeline-block-subhead">Lead Designer</h5>
      </div>
    </div>
  </a>
  <a href="/ofa" class="homepage-tile-link">
    <div class="ofa-block">
      {% include homepage-thumbnail.html class_name="ofa-hover-img" name="ofa-bw" fallback="ofa-bw.jpg" width="990" height="600" sizes="(min-width: 1200px) 590px, (min-width: 600px) calc(50vw - 2rem), calc(100vw - 2rem)" %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2011 – 2012</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Obama for America</h3>
        <h5 class="timeline-block-subhead">Sr. Design Lead</h5>
      </div>
    </div>
  </a>
  <a href="/agency" class="homepage-tile-link">
    <div class="agency-block">
      {% include homepage-thumbnail.html class_name="agency-hover-img" name="agency-bw" fallback="agency-bw.jpg" width="990" height="600" sizes="(min-width: 1200px) 590px, (min-width: 600px) calc(50vw - 2rem), calc(100vw - 2rem)" %}
      <div class="timespan-wrapper">
        <h2 class="timespan">2005 – 2010</h2>
      </div>
      <div class="attr-wrapper">
        <h3 class="timeline-block-title">Agency work</h3>
        <h5 class="timeline-block-subhead">Art Director</h5>
      </div>
    </div>
  </a>
</div>
