<footer class="site-footer">
  <section class="footer-marquee">
    <div class="marquee">
      <ul class="marquee__content">
        <li>&nbsp;▲</li>
        <li><a href="/about">Read a little more about me</a></li>
        <li>●</li>
        <li><a href="https://foundation.app/@taylorlecroy" target="_blank">Check out my motion art</a></li>
        <li>◆</li>
        <li><a href="https://github.com/lecroy">Here's my Github page</a></li>
        <li>■</li>
        <li><a href="mailto:taylorlecroy@gmail.com">{{ site.email }}</a></li>
        <li>●</li>
        <li><a href="https://www.instagram.com/tlecroy/">Here are some pictures I've taken</a></li>
      </ul>

      <ul aria-hidden="true" class="marquee__content">
        <li>&nbsp;▲</li>
        <li><a href="/about">Read a little more about me</a></li>
        <li>●</li>
        <li><a href="https://foundation.app/@taylorlecroy" target="_blank">Check out my motion art</a></li>
        <li>◆</li>
        <li><a href="https://github.com/lecroy">Here's my Github page</a></li>
        <li>■</li>
        <li><a href="mailto:taylorlecroy@gmail.com">{{ site.email }}</a></li>
        <li>●</li>
        <li><a href="https://www.instagram.com/tlecroy/">Here are some pictures I've taken</a></li>
      </ul>
    </div>
  </section>
</footer>
