<footer class="site-footer">
  <div class="marquee">
    <ul class="marquee__content">
      <li><a href="/about">Read a little more about me</a></li>
      <li>•</li>
      <li><a href="https://foundation.app/@taylorlecroy" target="_blank">Here's some art I've made on Foundation</a></li>
      <li>•</li>
      <li><a href="https://github.com/lecroy">Check me out on Github</a></li>
      <li>•</li>
      <li><a href="mailto:taylorlecroy@gmail.com">{{ site.email }}</a></li>
      <li>•</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li><a href="/about">Read a little more about me</a></li>
      <li>•</li>
      <li><a href="https://foundation.app/@taylorlecroy" target="_blank">Here's some art I've made on Foundation</a></li>
      <li>•</li>
      <li><a href="https://github.com/lecroy">Check me out on Github</a></li>
      <li>•</li>
      <li><a href="mailto:taylorlecroy@gmail.com">{{ site.email }}</a></li>
      <li>•</li>
    </ul>
  </div>
</section>
</footer>
