<footer class="site-footer">
  <div class="wrapper">
    <div class="homepage-animation">
      <canvas id="canvas" width="432" height="340"></canvas>

      <script>
        new rive.Rive({
            src: "img/rocking-head.riv",
            // Or the path to a public Rive asset
            // src: '/public/example.riv',
            canvas: document.getElementById("canvas"),
            autoplay: true,
        });
    </script>
    </div>
    <h4 class="footer-link">
      <a href="mailto:taylorlecroy@gmail.com">{{ site.email }}</a>
    </h4>
    <!--
    <a href="https://www.twitter.com/taylorlecroy" class="footer-link">
      Twitter
    </a>
    <a href="https://www.github.com/lecroy" class="footer-link">
      Github
    </a>
    <a href="https://www.instagram.com/tlecroy" class="footer-link">
      Instagram
    </a>
  -->
  </div>
</footer>
