<head>
  <meta charset="utf-8">

  <meta http-equiv="content-language" content="en" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Taylor LeCroy | Product Designer &amp; Creative Director</title>
  <meta name="description" content="Product Designer &amp; Creative Director">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Taylor LeCroy" href="http://localhost:4000/feed.xml">


  <script src="/js/charming.min.js"></script>
  <script src="/js/anime.min.js"></script>
  <script src="/js/wordFx.js"></script>

  <script src="https://unpkg.com/@rive-app/canvas@1.0.102"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136178151-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136178151-1');
  </script>


</head>
