<header class="site-header">

  <div class="header-wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.currentPosition }}</a>

    <div class="header-name">
      TAYLOR LeCROY
    </div>


    <input type="checkbox" class="menu-toggle" id="menu-toggle">
      <label for="menu-toggle" class="mobile-menu-icon">
        <div class="mobile-menu-icon-inner">
          <div class="mobile-icon-stroke-one"></div>
          <div class="mobile-icon-stroke-wrapper">
            <div class="mobile-icon-stroke-two"></div>
            <div class="mobile-icon-stroke-three"></div>
          </div>
          <div class="mobile-icon-stroke-wrapper">
            <div class="mobile-icon-stroke-four"></div>
            <div class="mobile-icon-stroke-five"></div>
          </div>
        </div>
      </label>

    <div class="header">
      <nav class="mobile-nav" id="mobile-navigation">
        <ul>
          <li>
            <a href="/olark" class="mobile-nav-link">Olark</a>
          </li>
          <li>
            <a href="/freelance" class="mobile-nav-link">Freelance</a>
          </li>
          <li>
            <a href="/enso" class="mobile-nav-link">Enso</a>
          </li>
          <li>
            <a href="/ofa" class="mobile-nav-link">Obama 2012</a>
          </li>
          <li>
            <a href="/advertising" class="mobile-nav-link">Advertising</a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="timeline-nav-wrapper">
      <a href="/olark">
        <div class="timeline-nav-link-wrapper timeline-nav-link-olark">
          2014 - PRES
        </div>
      </a>
      <a href="/freelance">
        <div class="timeline-nav-link-wrapper timeline-nav-link-freelance">
          2013 - 2014
        </div>
      </a>
      <a href="/enso">
        <div class="timeline-nav-link-wrapper timeline-nav-link-enso">
          2012 - 2013
        </div>
      </a>
      <a href="/ofa">
        <div class="timeline-nav-link-wrapper timeline-nav-link-ofa">
          2011 - 2012
        </div>
      </a>
      <a href="/agency">
        <div class="timeline-nav-link-wrapper timeline-nav-link-agency">
          2005 - 2011
        </div>
      </a>
    </nav>

  </div>

</header>
