<header class="site-header">

  <div class="header-wrapper">

    <!--
    <div class="header-name">
      TAYLOR LeCROY
    </div>
  -->
    <img src="img/index/thl-logotype.svg" class="thl-logotype" />
    <span class="home-location-wrapper">
      <img src="img/index/location-pin.svg" class="home-location-pin"/>
      <h4 class="home-location">Remote / Asheville, NC</h4>
    </span>
    <div class="homepage-animation">
      <canvas id="canvas" width="300" height="300"></canvas>

      <script>
        new rive.Rive({
            src: "img/rocking-head.riv",
            // Or the path to a public Rive asset
            // src: '/public/example.riv',
            canvas: document.getElementById("canvas"),
            autoplay: true,
            onLoad: () => {
              r.resizeDrawingSurfaceToCanvas();
            },
        });
    </script>
    </div>

  </div>

</header>
