<header class="site-header">
  <div class="header-wrapper">

    <div class="homepage-animation">
      <canvas id="canvas" width="432" height="340"></canvas>

      <script>
        new rive.Rive({
            src: "img/index/rocking-head.riv",
            // Or the path to a public Rive asset
            // src: '/public/example.riv',
            canvas: document.getElementById("canvas"),
            autoplay: true,
        });
      </script>
    </div>

    <h4 class="home-location-wrapper">
      <span>
        <a href="#" id="copyEmailLink" class="header-email-link" onclick="copyEmail()">
          <img src="img/index/copy-clipboard.svg" class="home-copy-clipboard"/> taylorlecroy@gmail.com
        </a>
      </span>
    </h4>

  </div>
</header>