<header class="site-header">
  <div class="header-wrapper">

    <div class="homepage-animation">
      <canvas id="canvas" width="432" height="340"></canvas>

      <script>
        new rive.Rive({
            src: "img/index/rocking-head.riv",
            canvas: document.getElementById("canvas"),
            autoplay: true,
        });
      </script>
    </div>

    <h4 class="home-location-wrapper">
      <span>
        <a href="#" id="copyEmailLink" class="header-email-link" onclick="copyEmail()">
          <span class="copy-tag">copy</span>
          <span id="emailText" class="email-text">taylorlecroy@gmail.com</span>
        </a>
      </span>
    </h4>

  </div>
</header>