/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/**
 * Basic styling
 */
body {
    font-family: $avenir;
    color: #232323;
    background: #F7F7F7;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
      }
    
      &::-webkit-scrollbar-track {
        background: #F7F7F7;
        border-radius: 20px; /* color of the tracking area */
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: lightgrey; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid #F7F7F7; /* creates padding around scroll thumb */
      }
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}



/**
 * Lists
 */

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Links
 */
a {
    text-decoration: none;
    cursor: pointer;
}



/**
 * Blockquotes
 */
blockquote {
    color: $blue600;
    border-left: 4px solid $gray300;
    padding-left: 1rem;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-family: $decima;
    font-size: 15px;
    border: 1px solid $gray300;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 3px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Reduced motion accessibility
 */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
