/* Font declarations optimized for web performance */

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/Avenir-Heavy.woff2') format('woff2'),
        url('fonts/Avenir-Heavy.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Decima Mono';
    src: url('fonts/DecimaMono-Light.woff2') format('woff2'),
        url('fonts/DecimaMono-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Decima Mono';
    src: url('fonts/DecimaMono.woff2') format('woff2'),
        url('fonts/DecimaMono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Decima Mono';
    src: url('fonts/DecimaMono-Bold.woff2') format('woff2'),
        url('fonts/DecimaMono-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Condensed';
    src: url('fonts/LibreCaslonCondensed-Bold.woff2') format('woff2'),
        url('fonts/LibreCaslonCondensed-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Condensed';
    src: url('fonts/LibreCaslonCondensed-Medium.woff2') format('woff2'),
        url('fonts/LibreCaslonCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Condensed';
    src: url('fonts/LibreCaslonCondensed-Regular.woff2') format('woff2'),
        url('fonts/LibreCaslonCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Condensed';
    src: url('fonts/LibreCaslonCondensed-Italic.woff2') format('woff2'),
        url('fonts/LibreCaslonCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
