canvas {
  transform: scale(0.4);
  transform-origin: 0% 0%;
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.photo-treatment {
  border-radius: 12px;
  box-shadow: 0 10px 32px 0 $gray300;
  margin-bottom: 1rem;
}

iframe {
  display: block;
}

//Case study title treatment

.slideshow {
  margin: 0 auto;
}

.word {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 0.25em 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  grid-area: title;
  font-size: 9vw;
  font-family: $caslon;
  font-weight: 600;
}

.slide__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slide__bg--8 {
  background: var(--color-bg-slide-8);
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}


//Case study content

.page-content-inner {
  text-align: center;

  max-width: 1100px;
  margin: 0 auto;
}

.page-hero-wrapper {
  margin: 0 auto;
  padding: 4rem 1rem;
}

.page-body-wrapper {
  text-align: left;

  padding: 0 2rem;
}

.page-subhead-timespan {
  font-family: $decima;
  font-size: 16px;

  margin-top: 1rem;
  position: relative;
}

.page-subhead-responsibilities {
  font-family: $decima;
  font-size: 16px;
  font-weight: 600;

  margin-top: 1rem;
  position: relative;
}

.page-body-subhead {
  font-family: $decima;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;

  margin: 4rem 0 2rem;

  &:after {
    content: '';
    width: 43px;
    border-bottom: 4px solid $gray900;
    display: block;
    margin-top: 1rem;
  }
}

.page-body-interior-subhead {
  margin-bottom: 1rem;
}

.page-body-copy {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;

  max-width: 540px;
  margin-bottom: 2rem;
}

.body-copy-strong {
  font-weight: 600;
}

.case-study-caption {
  color: $gray800;
  font-weight: 200;
  font-size: 14px;
}

.iframe-wrapper {
  margin-bottom: 2rem;
}

.figure-inline {
  img {
    @extend .photo-treatment;
  }
}

.figure-inline-wider {
  img {
    @extend .photo-treatment;
  }
}

.figure-pullout {
  margin-bottom: 4rem;
  max-width: 540px;

  figcaption {
    position: absolute;
    margin-top: 1rem;
    max-width: 540px;
  }

  img {
    border-radius: 12px;
    box-shadow: 0 10px 32px 0 $gray300;
  }
}

.figure-pullout-shure {
  @extend .figure-pullout;

  display: none;
}

.figure-inline {
  margin-bottom: 2rem;
  max-width: 540px;
}

.figure-inline-wider {
  margin-bottom: 2rem;
  max-width: 800px;
}

.paragraph-link {
  color: $electric-blue;
  border-bottom: 1px solid $purple300;
}

.case-study-end-nav {
  border-top: 1px solid $gray300;
  font-family: $decima;

  width: 100%;
  max-width: 540px;
  padding: 2rem 0;

  a {
    color: $electric-blue;
    font-weight: 600;
  }
}

.case-study-previous-link {
  display: inline-block;
}

.case-study-next-link {
  float: right;
}

.next-link-timespan {
  font-size: 14px;
  font-weight: 200;
}

.element-descriptor-code {
  background: $gray50;
  color: $gray800;
  border: 0;
  border-radius: 0;

  padding: .5rem;
  display: inline-block;

  &.code-indented {
    padding: .5rem .5rem .5rem 1rem;
  }
}


.code-red {
  color: $red600;
}

.code-blue {
  color: $blue600;
}

.code-green {
  color: $green600;
}

.code-purple {
  color: $purple600;
}

.bottom-pad {
  margin-bottom: 1rem;
}


@media screen and (min-width: 1000px) {
  .figure-pullout {
    float: right;
    clear: both;
    margin-bottom: 0;
    margin-top: 2rem;
    max-width: 400px;

    figcaption {
      max-width: 400px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  .figure-pullout-shure {
    display: block;
    max-width: 280px;
  }
}


@media screen and (min-width: 1200px) {

  .wrapper {
    padding: 0;
  }

  .page-body-wrapper {
    padding: 0;
  }
}
