.about-header {
    font-family: "libre caslon condensed",serif;
    text-align: left;
    margin-bottom: 40px;
}

.about-header-img {
    max-width: 600px;
}

.about-interior-subhead {
    font-family: "libre caslon condensed",serif;
    margin-bottom: 20px;
}

.page-body-list {
  margin-bottom: 20px;
  max-width: 540px;

  li {
    span {
        font-weight: 800;
    }
  }
}

