.about-header {
    font-family: "libre caslon condensed",serif;
}

.about-interior-subhead {
    font-family: "libre caslon condensed",serif;
}

.page-body-list {
  margin-bottom: 20px;
  max-width: 540px;

  li {
    span {
        font-weight: 800;
    }
  }
}

