.home-intro {
  text-align: center;
  font-family: $decima;
  font-size: 5vw;
  font-weight: 200;
}

.home-intro-copy {
  max-width: 100%;
  font-family: $caslon;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
  letter-spacing: -0.7px;

  span {
    font-family: $avenir;
    font-weight: 600;
    font-size: 16px;
    line-height: .5;

    a {
      text-decoration: none;
      box-shadow: inset 0 -0.1em 0 0 #232323;
      color: #232323;
      transition: all 300ms ease-in;
      position: relative;
  
      &:hover {
        color:#1449c3;
        box-shadow: inset 0 -0.1em 0 0 #1449c3;
      }
    }
  }
}

.page-content {
  margin-top: 12rem;
}

.home-timeline-container {
  font-weight: 600;

  margin-top: 8rem;
}

.timeline-wrapper {
  display: inline-block;
  margin: 2rem auto 4rem;
  width: 100%;
}

.homepage-tile-link {
  color: white;
  width: 100%;
  display: inline-block;
  margin-top: 2rem;
  position:relative;

  &:first-of-type {
    margin-top: 0;
  }
}

.timeline-block {
  border-radius: 8px;

  width: 100%;
  height: 300px;
  display: inline-block;
  position: relative;
  padding: 2rem;
  color: #232323;
  border: 2px solid #232323;
  transition: all .25s;

  &:hover > .hover-image-block {
    opacity: 1;
  }

  &:hover > .timespan-wrapper > .timespan {
    transition: all .25s;
  }

  &:hover > .attr-wrapper > .timeline-block-title {
    transition: all .25s;
  }

  &:hover > .attr-wrapper > .timeline-block-subhead {
    transition: all .25s;
  }
}

.timespan-wrapper {
  position: absolute;
}

.attr-wrapper {
  position: absolute;
  bottom: 2rem;
}

.bubbles-block,
.mural-block,
.olark-block,
.freelance-block,
.enso-block,
.ofa-block,
.agency-block {
  @extend .timeline-block;
}

.timespan {
  font-size: 1.5em;
  font-weight: 200;
  font-family: $decima;
  text-transform: uppercase;
  float: left;
}

.hover-image-block {
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 16px 32px 0 rgba(178,170,170,0.3);
  transition: all .25s;

  width: 100%;
  height: 296px;
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  &.bubbles-hover-img {
    background-image: url('/img/index/bubbles-bw.png');
  }

  &.mural-hover-img {
    background-image: url('/img/index/mural.png');
  }

  &.olark-hover-img {
    background-image: url('/img/index/bw-test.jpg');
  }

  &.enso-hover-img {
    background-image: url('/img/index/enso-bw.jpg');
  }

  &.ofa-hover-img {
    background-image: url('/img/index/ofa-bw.jpg');
  }

  &.freelance-hover-img {
    background-image: url('/img/index/hillary-bw.jpg');
  }

  &.agency-hover-img {
    background-image: url('/img/index/agency-bw.jpg');
  }
}

.mural-block {
  color: #232323;
  //background-image: linear-gradient(-225deg, #5EA83C 0%, #A2D48B 100%);
}

.olark-block {
  color: #232323;
  //background-image: linear-gradient(-225deg, #4398DE 0%, #ACD5FB 100%);
}

.freelance-block {
  color: #232323;
  //background-image: linear-gradient(-225deg, #6C37A7 0%, #B98BEE 100%);
}

.enso-block {
  color: #232323;
  //background-image: linear-gradient(-225deg, #E48600 0%, #FFBD60 100%);
}

.ofa-block {
  color: #232323;
  //background-image: linear-gradient(108.92deg, #45474D 0%, #7E8385 100%);
}

.agency-block {
  color: #232323;
  //background-image: linear-gradient(-225deg, #CE1F21 0%, #F4787C 100%);
}

.timeline-block-text-wrapper {
  float: left;
  width: 100%;
  position: relative;
  transform: translateY(0px);
  transition: .4s all ease-in-out;
}

.timeline-block-body {
  font-weight: 200;
  line-height: 1.2em;

  width: 100%;
  left: 2rem;
  position: absolute;
}

.timeline-block-button {
  opacity: 0; //shows up on hover
}

.work-link-wrapper {
  display: none;
}

.timeline-block-title {
  line-height: 1;

  font-weight: 800;
  font-family: $caslon;
  font-size: 2.8em;
  margin-bottom: .5rem;
}

.timeline-block-subhead {
  font-weight: 600;
  font-size: 16px;

  margin-top: 12px;
}




@media screen and (min-width: 600px) {

  .home-intro {
    text-align: left;
  }

  .home-intro-copy {
    font-size: 3.2em;
    line-height: .8;
  }

  .home-location {
    text-align: left;
  }

  .homepage-tile-link {
    width: 48%;

    &:nth-of-type(even) {
      margin-left: 3%;
    }
  }
}


