.home-hero-container {
  text-align: center;

  margin-top: 4rem;
}

.home-intro {
  text-align: center;
  font-family: $decima;
  font-size: 5vw;
  font-weight: 200;
}

.home-location-wrapper {
  margin: 2rem 0;
  display: inline-block;
}

.home-location {
  font-weight: 400;
  font-family: 'Decima mono', Helvetica, sans-serif;
  text-align: center;
  letter-spacing: -0.1px;
  float: left;
  margin-top: 2px;
}

.home-location-pin {
  width: 17px;
  float: left;
  margin-right: .5rem;
}

.home-timeline-container {
  font-weight: 600;

  margin-top: 8rem;
}

.timeline-wrapper {
  display: inline-block;
  margin: 2rem auto 4rem;
  width: 100%;
}

.homepage-tile-link {
  color: white;
  width: 100%;
  display: inline-block;
  margin-top: 2rem;
  position:relative;

  &:first-of-type {
    margin-top: 0;
  }
}

.timeline-block {
  border-radius: 6px;

  width: 100%;
  height: 300px;
  display: inline-block;
  position: relative;
  padding: 2rem;
  transition: all .25s;

  &:hover > .hover-image-block {
    opacity: 1;
  }

  &:hover > .timespan-wrapper > .timespan {
    color: black;
  }

  &:hover > .attr-wrapper > .timeline-block-title {
    color: black;
  }

  &:hover > .attr-wrapper > .timeline-block-subhead {
    color: black;
  }
}

.timespan-wrapper {
  position: absolute;
}

.attr-wrapper {
  position: absolute;
  bottom: 2rem;
}

.olark-block,
.freelance-block,
.enso-block,
.ofa-block,
.agency-block {
  @extend .timeline-block;
}

.timespan {
  font-size: 1.5em;
  font-weight: 200;
  font-family: $decima;
  text-transform: uppercase;
  float: left;
}

.olark-block {
  color: white;
  background-image: linear-gradient(-225deg, #4398DE 0%, #ACD5FB 100%);
}

.hover-image-block {
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 12px 24px 0 rgba(178,170,170,0.40);
  transition: all .25s;

  width: 100%;
  height: 300px;
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  &.olark-hover-img {
    background-image: url('/img/index/bw-test.jpg');
  }

  &.enso-hover-img {
    background-image: url('/img/index/enso-bw.jpg');
  }

  &.ofa-hover-img {
    background-image: url('/img/index/ofa-bw.jpg');
  }

  &.freelance-hover-img {
    background-image: url('/img/index/hillary-bw.jpg');
  }

  &.agency-hover-img {
    background-image: url('/img/index/agency-bw.jpg');
  }
}

.freelance-block {
  color: white;
  background-image: linear-gradient(-225deg, #6C37A7 0%, #B98BEE 100%);
}

.enso-block {
  color: white;
  background-image: linear-gradient(-225deg, #5EA83C 0%, #A2D48B 100%);
}

.ofa-block {
  color: white;
  background-image: linear-gradient(-225deg, #E48600 0%, #FFBD60 100%);
}

.agency-block {
  color: white;
  background-image: linear-gradient(-225deg, #CE1F21 0%, #F4787C 100%);
}

.timeline-block-text-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  transform: translateY(0px);
  transition: .4s all ease-in-out;
}

.timeline-block-body {
  font-weight: 200;
  line-height: 1.2em;

  width: 100%;
  left: 2rem;
  position: absolute;
}

.timeline-block-button {
  opacity: 0; //shows up on hover
}

.work-link-wrapper {
  display: none;
}

.timeline-block-title {
  line-height: 1;

  font-weight: 800;
  font-size: 2.8em;
  margin-bottom: .5rem;
}

.timeline-block-subhead {
  font-weight: 200;
  font-size: 16px;

  margin-top: 3px;
}




@media screen and (min-width: 600px) {

  .home-hero-container {
    text-align: left;
  }

  .home-intro {
    text-align: left;
  }

  .home-location {
    text-align: left;
  }

  .homepage-tile-link {
    width: 45%;

    &:nth-of-type(even) {
      margin-left: 5%;
    }
  }
}

