.photo-treatment {
  border-radius: 12px;
  box-shadow: 0 10px 32px 0 $gray300;
  margin-bottom: 1rem;
}

.olark-logo-gif {
  @extend .photo-treatment;

  width: 400px;
}

.olark-color-palette {
  @extend .photo-treatment;

  width: 400px;
  height: auto;
}

.olark-logo-compare-img {
  @extend .photo-treatment;
}

.olark-photo-treatment-img {
  @extend .photo-treatment;
}

.portrait-example {
  @extend .photo-treatment;
}

.olark-vector-elements {
  @extend .photo-treatment;

  width: 400px;
}

.olark-billing-before {
  @extend .photo-treatment;
}

.olark-billing-after {
  @extend .photo-treatment;
}

.olark-integrations-flow {
  @extend .photo-treatment;

  width: 400px;
}

.olark-integrations-iter {
  @extend .photo-treatment;
}

.olark-config-page-iter {
  @extend .photo-treatment;
}

.olark-integrations-final {
  @extend .photo-treatment;
}

.olark-config-page-final {
  @extend .photo-treatment;
}
