.site-footer {
  width: 100%;
}

.footer-link {
  text-align: center;
  margin-top: 20px;
}

.footer-link a {
  color:#ffffff;
  font-family: 'Decima mono';
  font-weight: 400;
  transition: 200ms all;

  &:hover {
    opacity: .8;
    transition: 200ms all;
  }
}

.footer-marquee {
  position: absolute;
  height: 100px;
  font-family: 'Decima mono';
  transform: rotate(-2deg);
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  padding-top: 2rem;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,.15);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-transform: uppercase;
  animation: scroll 45s linear infinite;
  margin-left: -16px;

  li {
    a {
      color: #000000;
      transition: 200ms all;

      &:hover {
        opacity: .7;
        transition: 200ms all;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
