.site-footer {
  padding-bottom: 3rem;
  text-align: left;
}

.homepage-animation {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  transform: scaleX(-1);
}

.footer-link {
  text-align: center;
  margin-top: 20px;
}

.footer-link a {
  color: $gray900;
  font-family: 'Decima mono';
  font-weight: 400;
  text-align: left;
  margin-left: -42px;

  &:hover {
    opacity: .8;
    transition: 200me all;
  }
}
