.site-footer {
  width: 100%;
  background: #000000;
}

.footer-link {
  text-align: center;
  margin-top: 20px;
}

.footer-link a {
  color:#ffffff;
  font-family: 'Decima mono';
  font-weight: 400;
  transition: 200ms all;

  &:hover {
    opacity: .8;
    transition: 200ms all;
  }
}

.a-section {
  padding: 3rem 0 1rem;
}
.a-section-marquee-box {
  height: 180px;
  display: flex;
  color:#ffffff;
  align-items: center;
  overflow: hidden;
}
.a-section-marquee-box h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Decima mono';
  font-size: 2em;
  color:#ffffff;
  font-weight: 100;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 45s linear infinite;
}
@keyframes a-text-scroll {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}
