//Colors
$gray900: hsla(1, 2%, 16%, 1);
$gray800: hsla(1, 2%, 35%, 1);
$gray700: hsla(1, 3%, 54%, 1);
$gray600: hsla(1, 4%, 65%, 1);
$gray500: hsla(1, 6%, 73%, 1);
$gray400: hsla(1, 11%, 81%, 1);
$gray300: hsla(1, 13%, 89%, 1);
$gray200: hsla(1, 17%, 93%, 1);
$gray100: hsla(2, 9%, 95%, 1);
$gray50: hsla(0, 0%, 97%, 1);

$purple900: hsla(269, 90%, 16%, 1);
$purple800: hsla(269, 73%, 23%, 1);
$purple700: hsla(268, 58%, 30%, 1);
$purple600: hsla(268, 50%, 44%, 1);
$purple500: hsla(268, 50%, 55%, 1);
$purple400: hsla(268, 63%, 66%, 1);
$purple300: hsla(268, 74%, 74%, 1);
$purple200: hsla(268, 75%, 83%, 1);
$purple100: hsla(267, 74%, 92%, 1);
$purple50: hsla(267, 69%, 97%, 1);

$green900: hsla(99, 88%, 26%, 1);
$green800: hsla(101, 57%, 39%, 1);
$green700: hsla(102, 47%, 45%, 1);
$green600: hsla(102, 41%, 51%, 1);
$green500: hsla(102, 42%, 59%, 1);
$green400: hsla(101, 46%, 69%, 1);
$green300: hsla(102, 54%, 79%, 1);
$green200: hsla(103, 70%, 88%, 1);
$green100: hsla(102, 69%, 93%, 1);
$green50: hsla(104, 83%, 96%, 1);

$red900: hsla(358, 99%, 28%, 1);
$red800: hsla(358, 82%, 36%, 1);
$red700: hsla(358, 76%, 42%, 1);
$red600: hsla(358, 71%, 47%, 1);
$red500: hsla(358, 75%, 55%, 1);
$red400: hsla(358, 83%, 62%, 1);
$red300: hsla(358, 82%, 71%, 1);
$red200: hsla(358, 95%, 82%, 1);
$red100: hsla(358, 66%, 89%, 1);
$red50: hsla(358, 98%, 97%, 1);

$blue900: hsla(207, 72%, 40%, 1);
$blue800: hsla(207, 59%, 49%, 1);
$blue700: hsla(207, 67%, 57%, 1);
$blue600: hsla(207, 79%, 65%, 1);
$blue500: hsla(207, 82%, 70%, 1);
$blue400: hsla(207, 86%, 77%, 1);
$blue300: hsla(207, 86%, 83%, 1);
$blue200: hsla(207, 100%, 89%, 1);
$blue100: hsla(207, 88%, 93%, 1);
$blue50: hsla(207, 100%, 97%, 1);

$orange900: hsla(34, 100%, 38%, 1);
$orange800: hsla(34, 91%, 43%, 1);
$orange700: hsla(34, 87%, 47%, 1);
$orange600: hsla(34, 85%, 51%, 1);
$orange500: hsla(34, 89%, 58%, 1);
$orange400: hsla(34, 94%, 64%, 1);
$orange300: hsla(34, 98%, 70%, 1);
$orange200: hsla(34, 100%, 76%, 1);
$orange100: hsla(34, 100%, 82%, 1);
$orange50: hsla(33, 75%, 95%, 1);

$yellow900: hsla(56, 100%, 41%, 1);
$yellow800: hsla(56, 76%, 49%, 1);
$yellow700: hsla(56, 80%, 57%, 1);
$yellow600: hsla(56, 89%, 63%, 1);
$yellow500: hsla(56, 87%, 70%, 1);
$yellow400: hsla(56, 88%, 78%, 1);
$yellow300: hsla(56, 87%, 82%, 1);
$yellow200: hsla(56, 86%, 87%, 1);
$yellow100: hsla(56, 88%, 90%, 1);
$yellow50: hsla(56, 100%, 94%, 1);
